* {
    margin: 0;
}
.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 375px;
}
.tela {
    background-color: rgb(0, 0, 0);
}
.botoes{
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    justify-content: center;
    height: 40vh;
    align-content: center;
    gap: 10px;
}
button:nth-child(1){
    grid-column-start: 2;
    grid-row-start: 1;
}
button:nth-child(2){
    grid-column-start: 3;
    grid-row-start: 2;
}
button:nth-child(3){
    grid-column-start: 2;
    grid-row-start: 3;
}
button:nth-child(4){
    grid-column-start: 1;
    grid-row-start: 2;
}
button {
    height: 70px;
    width: 70px;
    background-color: black;
    border-radius: 50%;
}